.footer__column-link {
    margin: 0;
    font-weight: 400;
    font-size: 26px;
    line-height: 36px;
    color: #FFFFFF;
    text-decoration: none;
}

@media screen and (max-width: 500px) {
    .footer__column-link {
        font-size: 22px;
        line-height: 32px;
    }
}
