.skills__card {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}


@media screen and (max-width: 650px) {
    .skills__card {
        flex-direction: column;
        position: relative;
        width: 100%;
    }
}
