.skill-item__number {
    font-family: 'ReemKufi', 'UbuntuMono', 'Lucida Console', 'Courier New';
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    margin: 45px 0 0 45px;
}


@media screen and (max-width: 650px) {
    .skill-item__number {
        margin: 35px 0 0 35px;
    }
}
