.logo__link {
    width: 70px;
    height: 70px;
    background-color: #EBC921;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 500px) {
    .logo__link {
        width: 50px;
        height: 50px;
    }
}
